<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vora.maanuj.rsvp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="vora.maanuj.rsvp.user.InfoActivity" />
        <activity android:name="vora.maanuj.rsvp.user.UserActivity" />
        <activity android:name="vora.maanuj.rsvp.administrator.InformationActivity" />
        <activity android:name="vora.maanuj.rsvp.administrator.NewEventActivity" />
        <activity
            android:name="vora.maanuj.rsvp.administrator.AdminActivity"
            android:label="@string/title_activity_admin" />
        <activity android:name="vora.maanuj.rsvp.MainActivity" />
        <activity android:name="vora.maanuj.rsvp.auth.RegistrationActivity" />
        <activity android:name="vora.maanuj.rsvp.auth.passwordresetActivity" />
        <activity android:name="vora.maanuj.rsvp.auth.LoginActivity" />
        <activity android:name="vora.maanuj.rsvp.auth.SplashScrActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>